<div class="container d-flex align-items-center justify-content-center vh-100 ">
    <div class="w-25 py-3 px-3 box-bg shadow rounded">
    <div *ngIf="error" class="alert alert-danger">
        <p>{{error}}</p>
    </div>
  <form [formGroup]='loginForm' (ngSubmit)="submitLoginForm(loginForm)">

  

        <div class="form-group my-2">
            <label for="email" > Email : </label>
            <input formControlName='email' class="form-control my-2 py-2 " type="text" id="email">
            <div *ngIf="loginForm.get('email')?.errors !=null && loginForm.get('email')?.touched" class="alert my-2 alert-danger">
                <p class="mb-0 fs-6" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
                <p class="mb-0 fs-6" *ngIf="loginForm.get('email')?.errors?.['email']">Should be email like 'Ahmed@gmail.com</p>
            </div>
        </div>
        <div class="form-group my-2">
            <label for="password" > Password : </label>
            <input formControlName='password' class="form-control my-2 py-2" type="password" id="password">
            <div *ngIf="loginForm.get('password')?.errors !=null && loginForm.get('password')?.touched" class="alert my-2 alert-danger">
                <p class="mb-0 fs-6" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
            </div>
        </div>
        <div class="text-center">
            <button [disabled]="loginForm.invalid" class="btn btn-outline-secondary w-50 my-2" type="submit">Login</button>
        </div>
  
  </form>
</div>
</div>
