<div class="container py-3 text-muted ">
  


  <!-- Dropdown for selecting posts per page -->
  <div class="row">
    <div class="col-lg-4
 ">
      <app-search (searchChange)="onSearch($event)"></app-search>
    </div>
    <div class="col-lg-4 offset-lg-4
 ">
      <div class="pagination-header d-flex align-items-center justify-content-end">
        <label for="itemsPerPage">Posts per page : </label>

        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)"
          class="form-select ms-2 w-25">

          <option selected *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>

        </select>
      </div>
    </div>
  </div>


<!-- Add Post Form (Visible to Admin Only) -->

<div *ngIf="userRole === 'admin'" class=" p-3 text-muted bg-white rounded my-3">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          What's In Your Mind
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" >
        <div class="accordion-body">
          <form [formGroup]="postForm" (ngSubmit)="submitPost()">
            <div class="form-floating">
              <input type="text" formControlName="title" placeholder="Post Title" class="form-control my-3" id="floatingTextarea">
              <label  for="floatingTextarea" class="text-muted">Post Title</label>
            </div>
              <div class="form-floating">
                
                <textarea formControlName="body" placeholder="Post Body" class="form-control my-3" rows="3" id="floatingTextarea" style="height: 100px"></textarea>  

                <label for="floatingTextarea" class="text-muted">Post Body</label>
              </div>
        
          <button class="btn btn-outline-secondary my-2" type="submit">Submit</button> 
        </form>     
        </div>
      </div>
    </div>
   
  </div>



</div>

  <!-- Posts List -->
  <div *ngFor="let post of displayedPosts">
    <app-post [post]="post" [searchQuery]="searchQuery"></app-post>
  </div>

  <!-- Pagination at the bottom -->
  <div class="pagination-footer">
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>


</div>