<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="w-25 py-3 px-3 box-bg shadow rounded text-muted ">
        <div *ngIf='error' class="alert alert-danger">
            <p class="mb-0 fs-6">{{error}}</p>
        </div>
        <form [formGroup]='registerForm' (ngSubmit)="submitRegisterForm(registerForm)">

            <div class="form-group my-3">
                <label for="name"> Name : </label>
                <input (change)="test()" formControlName='name' class="form-control my-2 py-2" type="text" id="name" >
                <div *ngIf="registerForm.get('name')?.errors !=null && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty )"
                    class="alert my-2 alert-danger">
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('name')?.errors?.['required']">Name is required</p>
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('name')?.errors?.['minLength']">Name is minLength 3</p>
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('name')?.errors?.['maxlength']">Name is maxlength 10</p>
                </div>
            </div>
            <div class="form-group my-3">
                <label for="username"> User Name: </label>
                <input formControlName='username' class="form-control my-2 py-2" type="text" id="username">
                <div *ngIf="registerForm.get('username')?.errors !=null && registerForm.get('username')?.touched"
                    class="form-control my-2" type="text" id="username" class="alert my-2 alert-danger">
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('username')?.errors?.['required']"> User Name is required</p>
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('username')?.errors?.['minLength']">User Name is minLength 3</p>
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('username')?.errors?.['maxlength']">User Name is maxlength 10</p>
                </div>
            </div>


            <div class="form-group my-3">
                <label for="email"> Email : </label>
                <input formControlName='email' class="form-control my-2" type="text" id="email">
                <div *ngIf="registerForm.get('email')?.errors !=null && registerForm.get('email')?.touched"
                    class="alert my-2 alert-danger">
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('email')?.errors?.['email']">Should be email like "Ahmed@gmail.com" </p>
                </div>
            </div>
            <div class="form-group my-3">
                <label for="phone"> Phone : </label>
                <input formControlName='phone' class="form-control my-2" type="phone" id="phone">
                <div *ngIf="registerForm.get('phone')?.errors !=null && registerForm.get('phone')?.touched"
                    class="alert my-2 alert-danger">
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('phone')?.errors?.['required']">Phone is required</p>
                </div>
            </div>
            <div class="form-group my-3">
                <label for="password"> Password : </label>
                <input formControlName='password' class="form-control my-2" type="password" id="password">
                <div *ngIf="registerForm.get('password')?.errors !=null && registerForm.get('password')?.touched"
                    class="alert my-2 alert-danger">
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
                    <p class="mb-0 fs-6" *ngIf="registerForm.get('password')?.errors?.['required']">Password is minLength 3</p>
                </div>
            </div>
            <div class="text-center">
                <button [disabled]="registerForm.invalid" class="btn btn-outline-secondary w-50 my-2" type="submit">Register</button>

            </div>
        </form>
    </div>

</div>